header{
	text-align: center;
	font-size:50px;
	color: #fff;
	background: #000;
}

body{
	background: #000
	color:#fff;
}

div{
	text-align: left;
	align-content: center;
}

h1, h3{
	text-align: center;
}

.imagenes{
	width: 180px;
	height: 180px;
}
.imagen{
	width: 350px;
	height: 350px;
	border: solid 1px;
}

.parrafo{
	text-align: justify;
	font-style: italic;
	font-size: 16px;
}

h1{
	color: #B00000;
}
h3{
	font-weight: bold;
	font-style: italic;
}

.centrar{
	text-align: center;
}

.precio{
	font-size: 34px;
	color: #B00000;
	text-align: center;
}
.detalle{
	font-size: 25px;
	text-align: justify;
}
.bordes{
	border: solid 1px;
}